

.page_body {

}


.page_body h1 {
  font-family: "Poppins", sans-serif;
  color: #fafafa;
  font-size: 48px;
  margin-bottom: 40px;
}
.page_body h2 {
  color: #fafafa;
  font-size: 32px;
}
.page_body h3 {
  color: #fafafa;
  font-size: 24px;
  margin-bottom: 20px
}
.page_body p {
  color: #fafafa;
}
.page_body table {
  width: 100%;
  color: #fafafa;
}
.page_body table th {
  font-size: 22px;
}

.amydom {
  border-radius: 50%;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.saasland_container .saasland_col_content .saasland_content {
  margin: auto;
  margin-top: 20px;
  left: 15%;
  top: auto;
}

#clockdiv {
  position: relative;
  display: block;
  bottom: 0px;
}
.saasland_col_6.saasland_col_screen {
  height: 100%;
  overflow-x: scroll;
}

@media (max-width: 991px) {
  .saasland_container .saasland_col_content {
    height: 80vh;
  }
  .saasland_container .saasland_col_content .saasland_content {
    margin-top: 20px;
    position: relative;
    left: auto;
    margin: auto;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .amydom {
    height: 340px;
    margin-top:10px;
    width: auto;
  }
  .saasland_container .saasland_col_content .saasland_content {
    margin-top: 20px;
    position: relative;
    left: auto;
  }
  .page_body h1 {
    font-size: 36px;
  }
  .page_body h2 {
    font-size: 24px;
  }
  .page_body h3 {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .amydom {
    height: 170px;
    margin-top: 30px;
    width: auto;
  }
  .saasland_container .saasland_col_content .saasland_content {
    margin-top: 20px;
    position: relative;
    margin: auto;
    margin-top: 20px;
  }
  .saasland_container .saasland_col_content {
    height: 90vh;
  }
}
@media (max-width: 375px) {
  .saasland_container .saasland_col_content {
    height: 110vh;
  }
}
@media (max-width: 320px) {
  .saasland_container .saasland_col_content {
    height: 140vh;
  }
}
